:root {
    --pico-font-size: 95%;
    /* --pico-bacground-color: #F5F2E8; */
}

[data-theme=light],
:root:not([data-theme=dark]),
:host(:not([data-theme=dark])) {
  color-scheme: light;
    --pico-font-size: 95%;
    /* --pico-background-color: #F5F2E8; */
}
